@charset "UTF-8";

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    background: #fff;
    border-radius: 4px;
}

.pika-single:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: 0;
    padding: 0;
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.pika-prev {
    left: 0;
}

.pika-next {
    right: 0;
}

.pika-prev,
.is-rtl .pika-next {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.47 11.06L7.41664 8L10.47 4.94L9.52997 4L5.52997 8L9.52997 12L10.47 11.06Z' fill='%23757575'/%3E%3C/svg%3E%0A");
}

.pika-next,
.is-rtl .pika-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.53003 4.94L8.58336 8L5.53003 11.06L6.47003 12L10.47 8L6.47003 4L5.53003 4.94Z' fill='%23757575'/%3E%3C/svg%3E%0A");
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table thead {
    display: none;
}

.pika-table th,
.pika-table td {
    padding: 2px 0;
}

.pika-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto;
    transition: 0.3s;
}

.is-today .pika-button {
    color: #fff;
    background: #0D63B3;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #0D63B3;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
}

.is-endrange .pika-button {
    color: #fff;
    background: #0D63B3;
    box-shadow: none;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #F0F0F0;
}

.pika-button:hover {
    color: #fff;
    background: #0D63B3;
    box-shadow: none;
}

.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

